body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-image: url('res/549255888221701.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header p {
    margin-top: 10px;
}

.container {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    color: white;
    margin-top: 0;
}

.avatar {
    margin-right: 20px;
    margin-top: -45px;
}

.avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.content {
    flex: 1;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}